{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Data for {{ url }}!
</h1>
<div class="column is-4 is-offset-4">
  <div class="box">
    <!-- {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="notification is-danger">
        {{ messages[0] }}
    </div>
    {% endif %}
    {% endwith %} -->
    <b>Name: {{ url }}:</b><br />
    <b>Password: {{ password }}</b>
  </div>
    <form method="POST" action="/goback">
        <button class="button is-block is-info is-large is-fullwidth">Back to main profile</button>
    </form>
</div>
{% endblock %}