{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Welcome, {{ name }}!
</h1>
<div class="column is-4 is-offset-4">
  <div class="box">
    <u>Passwords:</u>
    {% if passw_list %}
    <ul>
        {% for pass in passw_list %}
        <li><b> {{ pass.url }} </b></li>
        {% endfor %}
    </ul>
    {% endif %}
  </div>
  <form method="POST" action="/show">
    <div class="field">
      <div class="control">
        <button class="button is-block is-info is-large is-fullwidth">Show password</button>
      </div>
    </div>
  </form>  
  <br>
  <form method="POST" action="/add">
    <div class="field">
      <div class="control">
        <button class="button is-block is-info is-large is-fullwidth">Add new password</button>
      </div>
    </div>
  </form>
  <br>
  <div class="box">
    <p>Last loged: {{ last }}</p>
    <p>Last failed attempt: {{ failed }}</p>
  </div>  
</div>
{% endblock %}